body {
    margin: 0px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.cursor {
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: #000000;
  position: absolute;
  border-radius: 5px;
}

.cursor_follower {
  transition: transform .4s;
  width: 6px;
  height: 6px;
}

html {
  cursor: none;
  background-color: #000000;
  position: relative;
}

.heading {
  font-family: 'Anton', 'Helvetica', sans-serif;
  font-size: 40px;
  line-height: 0.5;
  color: #3d3d3d;
  user-select: none;
  position: absolute;
  text-align: right;
}

h1 {
  top: 10px;
  right: 50px;
}

h2 {
  top: 70px;
  right: 50px;
}

h3 {
  top: 10px;
  left: 50px;
}

#buttonContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  padding: 10px 20px;
  font-size: 50px;
  cursor: none;
  margin: 10px;
  background-color: #000000;
  color: white;
  border: 1px solid black;
}

button:hover {
  opacity: 0.8;
}
